.application__help-text {
  margin: 0;
  width: (85%);
  font-family: $main-font, "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-dark;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-bottom: 67px;
    width: 350px;
    font-size: 20px;
    line-height: 30px;
  }
}
