.application__help-text {
  margin: 0;
  width: (85%);
  font-family: $main-font, "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-dark;
  text-transform: uppercase;
}
