.additional-item__title {
  margin: 0;
  margin-left: 2px;
  margin-bottom: 14px;
  font: {
    family: $main-font, "Arial", sans-serif;
    size: 16px;
    weight: 400;
  }
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desctop-width) {
    width: $desctop-column-width;
    margin: 11px 80px 0 0;
  }
}
