.additional-item__cell {
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  color: $text-color-light;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &--left {
      max-width: $desktop-column-width;
      text-align: right;
    }

    &--right {
      width: 94px;
    }
  }

  @media (min-width: $desktop-width) {
    &--left {
      min-width: $desktop-column-width;
      max-width: $desktop-column-width;
      text-align: left;
    }

    &--right {
      min-width: 40px;
      max-width: 60px;
      text-align: left;
    }
  }
}
