.additional-item__cell {
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &--right {
      width: 94px;
    }
  }

  @media (min-width: $desctop-width) {
    &--right {
      width: 80px;
      text-align: left;
    }

    &--left {
      width: $desctop-column-width;
      text-align: left;
    }
  }
}
