.additional-item__list {
  margin-bottom: 14px;
  width: (100%);
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: 14px;
    flex-grow: 1;
    margin-bottom: 0;
  }
}
