.page-header__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    box-sizing: border-box;
    padding-right: $tablet-edge-space;
    padding-left: $tablet-edge-space;
  }
  //
  // @media (min-width: $desctop-width) {
  //   padding-right: 110px;
  // }
}
