.page-header__toggle {
  margin-top: 12px;
  width: 25px;
  height: 20px;
  background-color: transparent;
  border: none;

  &--open {
    background-image: url("/img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--close {
    background-image: url("/img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: 768px) {
    display: none;
  }
}
