.main-nav {
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
  }

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  &--nojs {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
