.page-footer__container {
  &--top {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    &--top {
      padding: 0 70px;
      padding-top: 65px;
      padding-bottom: 55px;
    }

    &--bottom {
      display: flex;
      padding-top: 35px;
      padding-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    &--top {
      margin-bottom: -295px;
    }
  }
}
