.page-footer__container {
  &--top {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    &--top {
      padding: 0 70px;
      padding-top: 65px;
      padding-bottom: 55px;
    }

    &--bottom {
      display: flex;
      padding-top: 35px;
      padding-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    &--top {
      position: absolute;
      top: 100px;
      left: calc(50% - 610px);
      padding: 60px 75px;
      max-width: 570px;
      background-color: #ffffff;
      z-index: 20;
    }
  }
}
