.page-footer__logo-link {
  display: block;
  padding-top: 41px;
  padding-bottom: 28px;
  text-align: center;
  border-bottom: 1px solid $separating-line-color-dark;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    border: none;
    margin-right: 25px;
    padding-top: 28px;
  }
}
