.page-footer__container {
  &--top {
    background-color: #ffffff;
  }

  &--color-gray {
    background-color: $common-color-two;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: -295px;
  }
}
