.show-goods {
  display: flex;
  flex-direction: column;
  padding: 24px 19px 22px 19px;
  width: auto;
  border: 1px solid $separating-line-color-light;

  @media (min-width: $tablet-width) {
    margin-top: 140px;
    padding: 55px 38px 37px 38px;
    box-sizing: border-box;
    width: 325px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-bottom: 37px;
  }
}
