.stats-list__value {
  display: block;
  margin-bottom: 9px;
  font-family: $main-font, "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $text-color-dark;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 11px;
    line-height: 37px;
  }
}
