.stats-list__tip {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: (70%);
  font-size: 12px;
  line-height: 12px;
  color: $text-color-light;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: (95%);
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: $common-color-two;
  }
}
