.stats-list__tip {
  box-sizing: border-box;
  position: absolute;
  top: (87%);
  left: (14.5%);
  padding-left: 15px;
  padding-right: 15px;
  max-width: (70.5%);
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  background-color: $common-color-two;
}
