.stats-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: inline-flex;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}
