.advantages {
  padding-top: 9px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 55px;
    border-bottom: 1px solid $separating-line-color-light;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
    padding-bottom: 0;
    border: none;
  }
}
