.site-nav__item {
  width: (100%);
  text-align: center;
  border-bottom: 1px solid $separating-line-color-light;

  @media (min-width: $tablet-width) {
    border: none;
    width: auto;
    margin-right: 36px;

    &--active {
      border-bottom: 2px solid $common-color-one;
    }

    &:first-child {
      margin-left: auto;
    }
  }

  @media (min-width: $desctop-width) {
    &--active-index {
      border-bottom: 2px solid #ffffff;
    }
  }
}
