.site-nav {
  display: none;
  margin: 0;
  padding: 0;
  font: {
    family: $main-font, "Arial", sans-serif;
    size: 20px;
    weight: 500;
  }
  line-height: 20px;
  color: #111111;
  list-style: none;
  text-transform: uppercase;
  &--visible {
    display: block;
  }
}
