.site-nav__item {
  width: (100%);
  text-align: center;
  color: $text-color-dark;
  border-bottom: 1px solid $separating-line-color-light;

  &:not(&--active):hover,
  &:not(&--active):focus {
    opacity: 0.6;
  }

  &:not(&--active):active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-left: 34px;
    width: auto;
    border: none;
    color: #222222;

    &--active {
      border-bottom: 2px solid $common-color-one;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 35px;
    &--active-index {
      border-bottom: 2px solid #ffffff;
    }
  }
}
