.site-nav__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;
  color: inherit;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    &--index {
      color: #ffffff;
    }
  }
}
