.site-nav {
  margin: 0;
  padding: 0;
  font: {
    family: $main-font, "Arial", sans-serif;
    size: 20px;
    weight: 500;
  }
  line-height: 20px;
  list-style: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    padding-top: 11px;
    width: 473px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 515px;
    font-size: 20px;
    line-height: 25px;
  }
}
