.range__button {
  padding: 2px 4px 2px 4px;
  font-family: $main-font, "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-dark;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
