.social__link {
  display: block;
  text-align: center;
  vertical-align: middle;

  &--vk {
    margin-top: 4px;
    width: auto;
    height: auto;
  }

  &--insta {
    margin-top: 5px;
    margin-left: 3px;
    width: 24px;
    height: 24px;
  }

  &--fb {
    margin-top: 2px;
    margin-left: 1px;
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    color: $common-color-one;
  }

  &:active {
    color: $common-color-one;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &--vk {
      margin-top: 9px;
      width: 30px;
      height: 30px;
    }

    &--insta {
      margin-top: 7px;
      margin-left: 5px;
      width: 30px;
      height: 30px;
    }

    &--fb {
      margin-top: 3px;
      width: 30px;
      height: 30px;
    }
  }
}
