.additional-goods__special-offer {
  margin-left: $mobile-edge-space;
  margin-right: $mobile-edge-space;

  @media (min-width: $tablet-width) {
    margin-left: $tablet-edge-space;
    margin-right: $tablet-edge-space;
  }
}
