.basic-product__image {
  @media (min-width: $tablet-width) {
    padding-bottom: 32px;

    &--small {
      padding-top: 40px;
      width: auto;
      height: 172px;
    }

    &--big {
      padding-top: 4px;
      width: auto;
      height: 208px;
    }
  }
}
