.intro-presentation__container {
  background-image: url("/img/intro-pack-image-mobile@1x.png"),
    url("/img/intro-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 167px, center 0;

  @media (min-width: $tablet-width) {
    background-image: url("/img/intro-pack-image-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 240px;
  }

  @media (min-width: $desctop-width) {
    background-image: url("/img/intro-pack-image-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: (63%) 10px;
  }
}
