.intro-presentation__link {
  margin-top: auto;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
    padding-top: 15px;
    padding-bottom: 17px;
    width: 245px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }
}
