.intro-presentation__container {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  min-height: 480px;
  background-image: url("../img/intro-pack-image-mobile@1x.png"),
    url("../img/intro-background-mobile@1x.jpg"),
    linear-gradient(to bottom, $common-color-one 60%, #ffffff 60%);
  background-repeat: no-repeat, no-repeat;
  background-position: center 167px, center 0, 0 0;
  background-size: 280px auto, 320px auto, auto;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-pack-image-mobile@2x.png"),
      url("../img/intro-background-mobile@2x.jpg"),
      linear-gradient(to bottom, $common-color-one 60%, #ffffff 60%);
  }


  @media (min-width: $tablet-width) {
    padding-left: 119px;
    padding-top: 30px;
    min-height: 835px;
    align-items: flex-start;
    background-image: url("../img/intro-pack-image-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 233px;
    background-size: 708px auto;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-pack-image-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
    min-height: 570px;
    background-image: url("../img/intro-pack-image-desktop@1x.png"),;
    background-repeat: no-repeat;
    background-position: (65%) 0;
    background-size: 550px auto;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      min-height: 696px;
      background-color: $common-color-one;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      z-index: -10;
    }

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-pack-image-desktop@2x.png");

      &::after {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}
