.intro-presentation__title {
  @include title-basis;
  margin-bottom: 25px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    width: 500px;
    color: $text-color-dark;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px
  }
}
