.intro-presentation__inner {

  @media (min-width: $tablet-width) {
    padding-left: 119px;
    padding-top: 40px;
    width: auto;
    min-height: 790px;
    align-items: flex-start;
  }

  @media (min-width: $desctop-width) {
    padding-left: 190px;
    padding-top: 95px;
    width: auto;
    min-height: 475px;
  }
}
