.intro-presentation__lead {
  display: block;
  margin-bottom: 30px;
  font: {
    family: $main-font, "Arial", sans-serif;
    size: 14px;
    weight: 400;
  }
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }
}
