.intro-presentation__lead {
  display: block;
  margin-bottom: 30px;
  font: {
    family: $main-font, "Arial", sans-serif;
    size: 14px;
    weight: 400;
  }
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* стили только для IE10 и IE11 */
    margin-bottom: 300px;
  }

  @media (min-width: $tablet-width) {
    margin-left: -10px;
    width: 300px;
    font-size: 20px;
    line-height: 20px;
    color: $text-color-dark;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      /* стили только для IE10 и IE11 */
      margin-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: -8px;
  }
}
