@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow: overlay;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  // -webkit-clip-path: inset(100%); почему на него ругается линтер
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $mobile-edge-space;
  width: $mobile-width;

  &--gray {
    background-color: $common-color-two;
  }

  &--white {
    background-color: #ffffff;
  }

  &--green {
    background-color: $common-color-one;
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 $tablet-edge-space;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 $desktop-edge-space;
  }
}

.title-basis {
  margin: 0;
  font: {
    family: $main-font, "Arial", sans-serif;
    size: 36px;
    weight: 400;
  }
  line-height: 36px;
  color: #111111;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.index-page-title {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

// .subtitle {
//   position: relative;
//
//   .container {
//     display: flex;
//     padding-left: 0;
//   }
//
//   &::after {
//     position: absolute;
//     content: "";
//     top: 40px;
//     width: 100%;
//     height: 3px;
//     background-color: $common-color-one;
//     z-index: -1;
//   }
//
//   &__text {
//     padding-top: 25px;
//     padding-bottom: 25px;
//     padding-left: $mobile-edge-space;
//     padding-right: 23px;
//     margin: 0;
//
//     font: {
//       family: $main-font, "Arial", sans-serif;
//       size: 24px;
//       weight: 400;
//     }
//
//     line-height: 24px;
//     color: #111111;
//     background-color: #ffffff;
//
//     &--catalog {
//       padding-bottom: 35px;
//     }
//   }
//
//   @media (min-width: $tablet-width) {
//     .container {
//       padding-left: $tablet-edge-space;
//     }
//
//     &::after {
//       top: 87px;
//     }
//
//     &__text {
//       padding-top: 65px;
//       padding-bottom: 50px;
//       padding-left: 39px;
//       padding-right: 35px;
//       font-size: 36px;
//       line-height: 36px;
//     }
//   }
//
//   @media (min-width: $desktop-width) {
//     .container {
//       padding-left: 2px;
//     }
//
//     &::after {
//       top: 65px;
//     }
//
//     &__text {
//       padding-top: 42px;
//     }
//   }
// }


.text-basis {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-light;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.link-btn {
  display: block;
  padding-top: 10px;
  padding-bottom: 11px;
  width: 100%;
  font-family: $main-font, "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $common-color-one;
  border: none;

  &:hover,
  &:focus {
    background-color: $common-color-one-dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--gray {
    background-color: $common-color-two;

    &:hover,
    &:focus {
      background-color: $common-color-two-dark;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    line-height: 20px;
  }
}
