@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow: overlay;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  // -webkit-clip-path: inset(100%); почему на него ругается линтер
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $mobile-edge-space;
  width: $mobile-width;

  &--gray {
    background-color: $common-color-two;
  }

  &--white {
    background-color: #ffffff;
  }

  &--green {
    background-color: $common-color-one;
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 $tablet-edge-space;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 $desktop-edge-space;
  }
}

.title-basis {
  margin: 0;
  font: {
    family: $main-font, "Arial", sans-serif;
    size: 36px;
    weight: 400;
  }
  line-height: 36px;
  color: #111111;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.index-page-title {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}
