$main-font: "Oswald";
$common-color-one: #68b738;
$common-color-two: #f2f2f2;
$separating-line-color-light: #cdcdcd;
$separating-line-color-dark: rgba(0, 0, 0, 0.2);
$tablet-width: 768px;
$desctop-width: 1440px;
