$main-font: "Oswald";
$common-color-one: #68b738;
$common-color-one-dark: #5eaa2f;
$common-color-two: #f2f2f2;
$common-color-two-dark: #ebebeb;
$separating-line-color-light: #f2f2f2;
$separating-line-color-dark: rgba(0, 0, 0, 0.2);
$text-color-dark: #111111;
$text-color-light: #444444;
$error-color: #ff8282;
$mobile-edge-space: 20px;
$tablet-edge-space: 30px;
$desctop-edge-space: 40px;
$mobile-width: 320px;
$tablet-width: 768px;
$desctop-width: 1300px;
$desctop-column-width: 245px;
$desctop-column-big-width: 570px;
