.checkbox__input {
  &:focus ~ .checkbox__label::before {
    border-color: #bababa;
  }

  &:checked {
    & ~ .checkbox__label::after {
      display: block;
    }
  }

  &:disabled {
    & ~ .checkbox__label {
      opacity: 0.3;
      user-select: none;
      cursor: not-allowed;
      &:hover::before {
        border-color: $separating-line-color-light;
      }
    }
  }
}
