.transformation__list {
  position: relative;
  min-height: 260px;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    min-height: 520px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
  }
}
