.advantages-list__item {
  position: relative;
  margin-bottom: 18px;
  padding: 1px 1px 6px 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $common-color-one;
    background-repeat: no-repeat;
    background-position: 4px 6px;
    background-size: 50px auto;
  }

  &--healthy::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--quickly::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--nourishingly::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--effective::before {
    background-image: url("../img/advantage-clock@1x.png");
  }

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    &--healthy::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &--quickly::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--nourishingly::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--effective::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }

  @media (min-width: $tablet-width) {
    width: 245px;
    margin-right: auto;
    margin-bottom: 90px;
    padding: 110px 0 45px 0;

    &:nth-child(odd) {
      margin-right: 140px;
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &::before {
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &::after {
      position: absolute;
      font-family: $main-font, "Arial", sans-serif;
      font-size: 281px;
      line-height: 200px;
      color: $common-color-two;
      z-index: -1;
    }

    &--healthy::after {
      content: "1";
      top: 0;
      right: 15px;
    }

    &--quickly::after {
      content: "2";
      top: 0;
      right: 0;
    }

    &--nourishingly::after {
      content: "3";
      top: 0;
      right: 0;
    }

    &--effective::after {
      content: "4";
      top: 0;
      right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    margin-right: 80px;

    &:nth-child(odd) {
      margin-right: 80px;
    }

    &:nth-child(4n+4){
      margin-right: 0;
    }

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 0;
    }
  }
}
