.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 55px;
    border-bottom: 1px solid $separating-line-color-light;
  }
}
