.special-offer__icon {
  margin: 65px auto 60px auto;
  width: 56px;
  height: 61px;
  background-image: url("/img/icon-gift-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
