.special-offer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 289px;
  background-color: $common-color-one;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 280px auto;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: relative;
    margin: auto;
    margin-top: 65px;
    width: 56px;
    height: 61px;
    background-image: url("../img/icon-gift-white.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    flex-direction: row;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px auto;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      margin: 65px auto 0 90px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    flex-grow: 0;
    width: $desktop-column-width;
    min-height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 245px auto;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::before {
      margin: auto;
      margin-top: 65px;
      margin-bottom: 60px;
    }
  }
}
