.special-offer__text {
  position: relative;
  margin-top: auto;
  margin-bottom: 42px;
  max-width: (60%);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: -122px;
    left: 57px;
    width: 56px;
    height: 61px;
    background-image: url("/img/icon-gift-white.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
