.special-offer {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 289px;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
