.basic-list__item {
  border: 1px solid $separating-line-color-light;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    // margin-top: 0;
    // margin-bottom: 55px;
  }
}
