.basic-list__item {
  border: 1px solid $separating-line-color-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    border: none;
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    margin-bottom: 59px;

    &:nth-child(4n+4) {
      margin-right: 0;
    }

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 0;
    }
  }
}
