.form-page__page-title-container {
  padding-top: 27px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}
