.radio {
  position: relative;
  margin: 0;
  padding-left: 30px;
  padding-top: 6px;
  padding-bottom: 7px;

  &:hover .radio__box::before {
    border-color: #bababa;
  }

  @media (min-width: $tablet-width) {
    margin-left: 28px;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 5px;
  }
}
