.diet-list__item-link {
  display: inline-block;
  position: relative;
  padding: 19px 40px 22px 0;
  font-family: $main-font, "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $text-color-dark;
  text-transform: uppercase;

  &::after {
    content: "icon";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 16px;
    top: 3px;
    margin-left: 11px;
    color: transparent;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 25px 12px;
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-size: 35px 12px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 4px;
      margin-left: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 21px;

    &::after {
      top: 5px;
    }
  }
}
