.diet-list__item-text {
  padding-bottom: 22px;
  border-bottom: 1px solid $separating-line-color-dark;

  @media (min-width: $tablet-width) {
    padding-bottom: 35px;
    border: none;
  }

  @media (min-width: $desctop-width) {
    padding-bottom: 10px;
  }
}
