.diet-list__item-text {
  padding-bottom: 21px;
  border-bottom: 1px solid $separating-line-color-dark;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    padding-bottom: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }

}
