.diet-list__item-link {
  display: inline-block;
  position: relative;
  padding: 19px 40px 22px 0;
  font-family: $main-font, "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $text-color-dark;
  text-transform: uppercase;

  &::after {
    content: "icon";
    color: transparent;
    position: relative;
    top: 7px;
    margin-left: 6px;
    width: 25px;
    height: 12px;
    background-image: url("/img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 25px 12px;
  }

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 10px;
      margin-left: 18px;
    }
  }
}
