.life-example__title {
  @include title-basis;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
    margin-top: 55px;
    margin-bottom: 146px;
  }
}
