.application-form__fieldset {
  padding: 0;
  border: none;

  &--pet {
    &--diet {
      margin-bottom: 2px;
    }

    &--additional {
      margin-bottom: 13px;
      margin-top: 1px;
    }
  }

  &--person {
    &--contacts {
      margin-bottom: 3px;
    }

    &--message {
      padding: 0 20px;
      margin-bottom: -1px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: $tablet-edge-space + 40px;
    padding-left: $tablet-edge-space + 40px;

    &--pet {
      &--characteristics {
        margin-bottom: 45px;
      }

      &--diet {
        margin-bottom: 11px;
      }

      &--additional {
        margin-top: 23px;
        margin-bottom: 11px;
      }
    }

    &--person {
      &--contacts {
        padding-top: 40px;
      }

      &--message {
        margin-top: 60px;
        font-size: 0;
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktop-edge-space;
    padding-right: $desktop-edge-space;

    &--pet {
      &--characteristics {
        margin-right: 75px;
        padding-right: 0;
        margin-bottom: 0;
        width: (47%);
      }

      &--diet {
        margin: 0;
        margin-top: 25px;
        padding-bottom: 7px;
        padding-left: 0;
        width: (47%);
      }

      &--additional {
        margin-top: 23px;
        margin-bottom: 18px;
      }
    }

    &--person {
      &--contacts {
        margin-bottom: 5px;
      }

      &--message {
        margin-top: 64px;
        margin-bottom: 24px;
      }
    }
  }
}
