.application-form__label {
  align-self: center;
  margin-right: 14px;
  font: inherit;
  color: #222222;
  text-transform: uppercase;

  &--email {
    margin-right: 10px;
  }

  &--tel {
    margin-right: 9px;
  }

  &--for {
    &--radio {
      position: relative;
      margin: 0;
      padding-left: 46px;
      padding-top: 6px;
      padding-bottom: 7px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border: 1px solid $separating-line-color-light;
        border-radius: 50%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 9px;
        left: 9px;
        width: 12px;
        height: 12px;
        background-color: $common-color-one;
        border-radius: 50%;
      }
    }

    &--checkbox {
      position: relative;
      margin: 0;
      padding-left: 46px;
      padding-top: 5px;
      padding-bottom: 8px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border: 1px solid $separating-line-color-light;
      }

      &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 11px;
        box-sizing: border-box;
        width: 10px;
        height: 20px;
        border: 1px solid $common-color-one;
        transform: rotate(43deg);
        border-top: none;
        border-left: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 16px;

    &--email {
      margin-right: 18px;
    }

    &--tel {
      margin-right: 15px;
    }

    &--for {
      &--radio {
        margin-left: 28px;
        padding-left: 60px;
        padding-top: 8px;
        padding-bottom: 5px;

        &::before {
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
        }

        &::after {
          top: 11px;
          left: 11px;
          width: 18px;
          height: 18px;
        }
      }
      &--checkbox {
        padding-left: 58px;
        padding-top: 8px;
        padding-bottom: 12px;

        &::before {
          top: 0;
          left: 0;
          box-sizing: border-box;
          width: 40px;
          height: 40px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 4px;
          left: 16px;
          box-sizing: border-box;
          width: 10px;
          height: 20px;
        }
      }
    }
  }
}
