.application-form__input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 45px;
  padding-left: 16px;
  font: inherit;
  text-transform: uppercase;
  border: solid 1px $separating-line-color-light;
  &::placeholder {
    color: #444444; //Для современных браузеров
  }
  &:-moz-placeholder {
    color: #444444; //Для Firefox с версии 4 и до 19
  }
  &::-moz-placeholder {
    color: #444444; //Для Firefox до версии 51
  }
}
