.application-form__input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 12px 15px 13px 16px;
  font: inherit;
  text-transform: uppercase;
  border: solid 1px $separating-line-color-light;

  &::placeholder {
    opacity: 1;
    color: $text-color-light; //Для современных браузеров
  }

  &:-moz-placeholder {
    opacity: 1;
    color: $text-color-light; //Для Firefox с версии 4 и до 19
  }

  &--email {
    padding-right: 35px;
  }

  &--tel {
    padding-right: 35px;
  }


  &:hover {
    border-color: $separating-line-color-dark;
  }

  &:focus {
    border-color: $text-color-light;
    outline: 2px solid $text-color-light;

    & ~ .application-form__icon {
      color: $common-color-one;
    }
  }

  &--error {
    border-color: $error-color;
    outline: 1px solid $error-color;

    &:hover {
      border-color: $error-color;
    }

    &:focus {
      outline: 2px solid $error-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 10px 10px 10px 21px;

    &--tel {
      padding-left: 17px;
    }
  }
}
