.application-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--pet {
    &--diet {
      margin-bottom: 27px;
      border: 1px solid $separating-line-color-light;
    }

    &--additional {
      margin-bottom: 11px;
    }
  }

  &--person {
    &--contacts {
      margin-bottom: 6px;
    }

    &--message {
      margin: 0 20px 26px 20px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: $tablet-edge-space+40px;
    margin-right: $tablet-edge-space+40px;
    &--pet {
      &--characteristics {
        margin-bottom: 47px;
      }

      &--diet {
        margin-bottom: 82px;
      }

      &--additional {
        margin-top: 20px;
      }
    }

    &--person {
      &--contacts {
        padding-top: 35px;
        margin-bottom: 40px;
      }

      &--message {
        margin-bottom: 62px;
      }
    }
  }
}
