.application-form__text-label {
  margin-right: 14px;
  align-self: center;

  &--email {
    margin-right: 10px;
  }

  &--tel {
    margin-right: 9px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 16px;

    &--email {
      margin-right: 18px;
    }

    &--tel {
      margin-right: 15px;
    }
  }
}
