.application-form__bottom-wrap {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    padding-right: $tablet-edge-space + 40px;
    padding-left: $tablet-edge-space + 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktop-edge-space;
  }
}
