.application-form__item {
  display: flex;
  margin: 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  &--text {
    margin-bottom: 14px;
  }

  &--radio {
    margin-bottom: 12px;
  }

  &--checkbox {
    margin-bottom: 11px;
  }

  @media (min-width: $tablet-width) {
    &--text {
      margin-bottom: 20px;
    }

    &--radio {
      margin-bottom: 20px;
    }

    &--checkbox {
      width: (45%);
      margin-right: (10%);
      margin-bottom: 32px;

      &:nth-child(even) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 32px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--text {
      margin-bottom: 19px;
    }

    &--checkbox {
      width: (20%);
      margin-right: (5%);

      &:nth-child(even) {
        margin-right: (5%);
      }

      &:nth-child(4n+4) {
        margin-right: 0;
      }
    }
  }
}
