.application-form__label {
  position: relative;
  flex-grow: 1;
  display: flex;
  font-family: $main-font, "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;

  &--for {
    &--checkbox {
      position: relative;
      margin: 0;
      padding-left: 46px;
      padding-top: 5px;
      padding-bottom: 8px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border: 1px solid $separating-line-color-light;
      }

      &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 11px;
        box-sizing: border-box;
        width: 10px;
        height: 20px;
        border: 1px solid $common-color-one;
        transform: rotate(43deg);
        border-top: none;
        border-left: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    &--for {
      &--checkbox {
        padding-left: 58px;
        padding-top: 8px;
        padding-bottom: 12px;

        &::before {
          top: 0;
          left: 0;
          box-sizing: border-box;
          width: 40px;
          height: 40px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 4px;
          left: 16px;
          box-sizing: border-box;
          width: 10px;
          height: 20px;
        }
      }
    }
  }
}
