.application-form__list {
  margin: 0;
  padding: 21px $mobile-edge-space 21px $mobile-edge-space;
  list-style: none;

  &--diet {
    border: 1px solid $separating-line-color-light;
  }

  &--contacts {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 22px 0 30px 0;
    width: auto;


    &--contacts {
      padding-bottom: 0;
    }

    &--additional {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 10px;
    }
  }

  @media (min-width: $desktop-width) {

    &--contacts {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      & li {
        width: (46.5%);
      }
    }
  }
}
