.application-form__icon {
  position: absolute;
  top: 13px;
  right: 15px;

  &--tel {
    top: 12px;
    right: 13px;
  }

  &--mail {
    top: 14px;
  }

  @media (min-width: $tablet-width) {
    &--tel {
      top: 17px;
    }

    &--mail {
      top: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    &--tel {
      right: 19px;
      top: 17px;
    }

    &--mail {
      right: 20px;
    }
  }
}
