.application-form__fieldset {
  margin: 0;
  padding: 0 20px 0 20px;
  border: none;

  &--pet {
    &--diet {
      margin-bottom: 27px;
      border: 1px solid $separating-line-color-light;
    }

    &--additional {
      margin-bottom: 11px;
    }
  }

  &--person {
    &--contacts {
      margin-bottom: 6px;
    }

    &--message {
      margin-bottom: 24px;
    }
  }

  @media (min-width: $tablet-width) {
    &--pet {
      &--characteristics {
        margin-bottom: 70px;
      }

      &--diet {
        margin-left: 70px;
        margin-right: 70px;
      }
    }
  }
}
