.map-block__interactive {
  position: absolute;
  width: 320px;
  height: 360px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
